<!DOCTYPE html>
<html>
<head>
  <title>Current Batting Leaders MLB</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<p>
<% @player.each do |player| %>
<br />
<%= player.name %>
<%= player.average %>
<br />
<% end %>
</p>
